*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Form

.form--custom {
	max-width: 700px;
}

// FormField

.label--custom {
	margin-top: 30px;
}

.radio--custom {
	margin-right: 20px;
}

.radio-button {
	margin-right: 8px;
}
// offer status
.button--status {
	padding: 0 !important;
	width: 20px !important;
	height: 20px !important;
	margin: 5px 0 !important;
}

// table
.circle {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: relative;
	left: 0px;

	&::before,
	&::after {
		display: block;
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	&::before {
		left: 14px;
	}

	&::after {
		left: 28px;
	}
}

.circle.junior {
	background-color: black;
}

.circle.mid {
	background-color: black;

	&::before {
		background-color: black;
	}
}

.circle.senior {
	background-color: black;

	&::before,
	&::after {
		background-color: black;
	}
}

.table--custom td {
	vertical-align: middle !important;
}

// Modal
.notification--narrow {
	max-width: 400px;
	margin: 0 auto;
}
